a {

    text-decoration: none;
            color: black;
}

h1, h2, h3 {
    font-size: 19px;
}

h4 {
    font-size: 17px;
}

p {
    font-size: 15px;
}

button {
    border: none;
    border-radius: 5px;
}

.flex {

    display: flex;
}

.no-warp {
    white-space: nowrap;
}

.fond {
    
    background-color: whitesmoke;
}

.couleur-principal {

    background-color: #F3E9F1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {

    height: 10vw;
    min-height: 50px;
    max-height: 150px;

    nav {

        justify-content: space-between;
        width: 100%;

        .logo {

            height: 100%;
        }
        
        .header-button-contener {
    
            justify-content: center;
            align-items: center;
            height: 100%;
        
            .header-button {
        
                color: white;
                background-color: #1771E6;
                height: 5vw;
                min-height: 26px;
                width: 10vw;
                min-width: min-content;
                max-width: 150px;
                max-height: 50px;
            }
        
        }
    }
}

#resultat {

    flex: 1 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3vw 0vw 3vw 0vw;
    margin: 0px;

    div {

        background-color: #ebebeb;
        margin: 3vw;
        border-radius: 15px;
        border: 10px solid #ebebeb;
        padding: 0px;


        a {

            width: 100%;
            height: min-content;

            .img-recherche {

                object-fit: cover;
                width: 100%;
                height: 80%;
                border-radius: 10px 10px 0px 0px;
            }
        }
        

        .img-produit {

            width: 100%;
        }
    }
}

.deroulant {
    border: none;
}

#zone-titre {
    padding-top: 20px;
    justify-content: space-around;
}

footer {

    flex-shrink: 0;

    div{
        div{
            ul{
                list-style-position:inside;
            }
        }
    }
}

.lien {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
    div {
        justify-self: center;
    }
}

@media screen and (min-width: 768px){

    h1, h2, h3 {
        font-size: 20px;
    }
    
    h4 {
        font-size: 18px;
    }
    
    p {
        font-size: 16px;
    }
}

@media screen and (min-width: 992px){
    .lien {
        flex-direction: row;
    }

    #resultat div a {
        height: auto;
    }
}

@media screen and (min-width: 2000px){

    h1, h2, h3 {
        font-size: 26px;
    }
    
    h4 {
        font-size: 23px;
    }
    
    p {
        font-size: 21px;
    }
}